[build]
  command = "npm run generate"
  publish = ".output/public"

[build.environment]
  NODE_VERSION = "20"

[[redirects]]
  from = "https://eduardomecchia.com"
  to = "https://eduardomecchiafernandez.com"
  status = 301
  force = true
