* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 1.5;
}

// Helpers
.scale-on-hover {
    transform: scale(1);
    transition: transform .2s ease-in-out;
    cursor: pointer;

    &:hover {
        transform: scale(1.10);
    }
}

.gradient-text {
    background: linear-gradient(180deg, #bd00c5 20%, #31ffff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    will-change: transform, opacity;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
}

// Transitions and animations
.slide-in-from-left {
    animation: slide-in-from-left .7s ease-in-out;
}

@keyframes slide-in-from-left {
    from {
        opacity: 0;
        transform: translate(-100%);
    }

    to {
        opacity: 1;
        transform: translate(0);
    }
}